<div>
  <p>
    <ng-container *ngIf="accountName && (actionsLength > 0) && (ricardianContract != null); else noRicardianContract">
      Click button to see Ricardian Contract
    </ng-container>
    <button type="button" (click)="showRicardianModal()" pButton icon="pi pi-info-circle" [label]="accountName"></button>
  </p>
</div>
<p-dialog header="Ricardian Contract"
          [(visible)]="ricardianDisplay"
          [contentStyle]="{'max-height':'500px', 'max-width': '700px'}">
  <markdown [data]="ricardianContract"></markdown>
</p-dialog>

<ng-template #noRicardianContract>
  <p>No Ricardian Contract exists for this transaction.</p>
</ng-template>
