<div class="toolbar" role="banner">
  <div class="spacer" style="text-align: center">Gerry Wolfe Interview Assignment</div>
</div>

<div class="content" role="main">
  <h2 class="card highlight-card">{{ title }}</h2>
  <p>Shows the 10 most recent blocks</p>
  <p-button type="button" label="LOAD" (click)="fetchData()"></p-button>

  <ng-container *ngIf="fetchDataClicked">
    <app-block-table [eosBlocks]="eosBlocks" [loading]="loading"></app-block-table>
  </ng-container>

  <markdown [data]="mustacheMarkdownOutput"></markdown>
</div>

