<div class="toolbar" role="banner">
  
  <span style="justify-content: center;">EOS Fetch and Display App</span>
    <div class="spacer"></div>
  
</div>

<div class="content" role="main">

  <h2 class="card highlight-card">{{ title }} Button Below</h2>

  <input type="hidden" #selection>

  <!-- <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Fetch Latest EOS Blockchain Data</span>
    </div>
  </div> -->
  <p>Shows the 10 most recent blocks</p>
  <p-button type="button" label="LOAD" (click)="fetchData()">
  </p-button>

  <p-table>



  </p-table>

  <h2>Ricardian Contract</h2>
</div>

